<section id="contact">
  <div class="inner">
    <div class="contact-info">
      <h2>Contacto</h2>
      <div class="contact-method">
        <span class="icon alt fa-envelope"></span>
        <h3>Email</h3>
        <a href="mailto:{{ site.email }}">{{ site.email }}</a>
      </div>
      <div class="contact-method">
        <span class="icon alt fa-linkedin"></span>
        <h3>LinkedIn</h3>
        <a href="{{ site.socials.LinkedIn }}" target="_blank" rel="noopener noreferrer">Connect with us</a>
      </div>
      <div class="contact-method">
        <span class="icon alt fa-github"></span>
        <h3>GitHub</h3>
        <a href="{{ site.socials.GitHub }}" target="_blank" rel="noopener noreferrer">View our projects</a>
      </div>
    </div>
    <div class="contact-image">
      <img src="/assets/images/logo.png" alt="Montevideo Hub Logo" />
    </div>
  </div>
</section>


</div>

<!-- Scripts -->
<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/js/jquery.scrolly.min.js"></script>
<script src="/assets/js/jquery.scrollex.min.js"></script>
<script src="/assets/js/skel.min.js"></script>
<script src="/assets/js/util.js"></script>
<!--[if lte IE 8]><script src="/assets/js/ie/respond.min.js"></script><![endif]-->
<script src="/assets/js/main.js"></script>
