<section id="contact">
  <div class="inner">
    <div class="contact-row">
      <div class="contact-method">
        <span class="icon alt fa-envelope"></span>
        <h3>Email</h3>
        <a href="mailto:{{ site.email }}">{{ site.email }}</a>
      </div>
      <div class="contact-method">
        <span class="icon alt fa-linkedin"></span>
        <h3>LinkedIn</h3>
        <a href="{{ site.socials.LinkedIn }}" target="_blank" rel="noopener noreferrer">Connect with us</a>
      </div>
      <div class="contact-method">
        <span class="icon alt fa-github"></span>
        <h3>GitHub</h3>
        <a href="{{ site.socials.GitHub }}" target="_blank" rel="noopener noreferrer">View our projects</a>
      </div>
    </div>
  </div>
</section>


</div>

<!-- Scripts -->
<script src="{{ "assets/js/jquery.min.js" | absolute_url }}"></script>
<script src="{{ "assets/js/jquery.scrolly.min.js" | absolute_url }}"></script>
<script src="{{ "assets/js/jquery.scrollex.min.js" | absolute_url }}"></script>
<script src="{{ "assets/js/skel.min.js" | absolute_url }}"></script>
<script src="{{ "assets/js/util.js" | absolute_url }}"></script>
<!--[if lte IE 8]><script src="{{ "assets/js/ie/respond.min.js" | absolute_url }}"></script><![endif]-->
<script src="{{ "assets/js/main.js" | absolute_url }}"></script>
